<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>task</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav th:replace="~{navbar :: navbar}"></nav>
<div class="container">
  <nav th:replace="~{leftnavbar.html :: leftnavbar}"></nav>
  <div style="padding: 20px">
<h2 th:text="'✏️' + ${task.title}"></h2>
    <div style="margin-top: 10px">태그</div>
    <ul class="list-group">
      <div th:each="tag : ${task.taskTags}">
        <li class="list-group-item list-group-item-light" th:text="${tag.tag.name}"></li>
      </div>
    </ul>

    <div style="margin-top: 20px">📅 등록일자</div>
    <div th:text="${task.taskPeriod.registeredDate}"></div>

    <div style="margin-top: 20px">❗️우선순위</div>
    <div th:text="${task.priority.priorityStatus}"></div>

    <div style="margin-top: 20px">🪨 마일스톤</div>
    <div th:text="${task.milestone.name}"></div>

    <div style="margin-top: 20px">✍️ 등록자</div>
    <div th:text="${task.registrant.name}"></div>

    <div style="margin-top: 20px">🤝 참여자 목록</div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>자격</th>
            <th>이름</th>
        </tr>
        </thead>
      <tbody>
      <tr th:each="participants : ${task.memberTasks}">
        <td th:text="${participants.type}"></td>
        <td th:text="${participants.member.name}"></td>
      </tr>
      </tbody>
    </table>

    <div style="margin-top: 10px">📖 업무 내용</div>
    <strong th:text="${task.content}"></strong>

      <form th:action="@{/project/projects/{seq}/taskList(seq=${projectSeq})}" style="margin-top: 50px" method="get">
          <button type="submit" class="btn btn-primary">업무 목록</button>
      </form>
  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>